{% extends 'base.html' %}

{% block content %}

    <table class="table table-striped">

        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
            </tr>
        </thead>

        <tbody>
            {% for item in list_items %}

                <tr>

                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.item_name }}</td>

                </tr>

            {% endfor %}
        </tbody>

    </table>

{% endblock %}